<p>
  The Computational Research Facilitation team at the Jackson Laboratory for Genomic Medicine 
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research and high performance computing skills.
  This hands-on workshop will cover basic concepts of the unix command line and tools,
  including data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
