<div class="row">
  <div class="col-md-6">
    <h3>Wed Feb 01</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Shell Intro; Navigating Files and Directories</td> </tr>
      <tr> <td>09:45</td>  <td>Navigating Files and Directories (cont)</td></tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Working with Files and Directories</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thu Feb 02</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>09:55</td>  <td>Working Remotely</td> </tr>
      <tr> <td>10:30</td>  <td>Permissions</td></tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Task Automation (Loops and Shell Variables)</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Fri Feb 03</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Shell Scripting</td> </tr>
      <tr> <td>10:05</td>  <td>AWK</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Pattern Matching and Finding Things (grep)</td> </tr>
      <tr> <td>11:40</td>  <td>Aliases and Bash Customization</td></tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
